
.card-container {
  margin-top: 50px;
  border-radius: 25px;
  background-color: #F6F6F6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 30px 30px 70px;
}

@media (max-width: 1120px) {
  .card-container {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
  }
}