.info-logement-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  .info {
    width: 100%;
  }

}

.description-equipement {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap:30px;
  .info {
    width: 100%;
  }
}


@media (max-width: 600px) {
  .info-logement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    .info {
      width: 100%;
    }
  }

  .description-equipement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    gap:0;
    .info {
      width: 100%;
    }
  }
}