.card {
  $taille: 340px;
  height: $taille;
  width: $taille;
  border-radius: 10px;
  padding-bottom: 50px;
  .card-img {
    height: $taille;
    width: $taille;
    object-fit: cover;
    border-radius: 10px;
  }

  .section-card-title {
    position: relative;
    top: -120px;
    height: 120px;
    display: flex;
    justify-content: left;
    align-items: flex-end;

    .card-title {
      text-align: left;
      margin-left: 20px;
      max-width: 50%;
      font-size: 18px;
      font-weight: 700;
      line-height: 25.67px;
      color: white;
      text-shadow: 10px 1px 10px black;
    }
  }
}

@media (max-width: 800px) {
  .card {
    $taille: 100%;
    height: 255px;
    width: $taille;
    padding: 0;
    .card-img {
      height: $taille;
      width: $taille;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}