@mixin taille-carrousel() {
  height: 415px;
  border-radius: 25px;
}

.carrousel-container {
  margin-top: 30px;

  .carrousel-img {
    @include taille-carrousel;
    width: 100%;
    object-fit: cover;
  }

  .carrousel-fleche-container {
    $position: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 0;
    position: relative;
    top: -240px;
    margin-bottom: -$position - 15;
    .carrousel-fleche {
      height: $position;
      cursor: pointer;
    }
  }

  .carrousel-index {
    color: white;
    font-size: 20px;
  }

  .hide {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  @mixin taille-carrousel() {
    height: 255px;
    border-radius: 25px;
  }

  .carrousel-container {
    margin-top: 30px;
    @include taille-carrousel;
    .carrousel-img {
      @include taille-carrousel;
    }

    .carrousel-fleche-container {
      $position: 20px;
      position: relative;
      top: -160px;
      margin-bottom: -$position - 15;

      .carrousel-fleche {
        height: $position;
      }
    }
    .carrousel-index {
      font-size: 20px;
      position: relative;
      top: -70px;
    }
  }
}